<!DOCTYPE html>
<html>
<head>
    <title>Login and Register</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div class="container">
  <a class="button" onclick="location.href='/register'" style="--color:#1e9bff;">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Register
  </a>
  <a class="button" onclick="location.href='/login'" style="--color: #ff1867;">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Log In
  </a>
</div>
</body>
</html>